@model IEnumerable<HairdresserModel>
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_LayoutEmploee.cshtml";
}

<h1>Fryzjerzy</h1>
<div>
    <a asp-action="Create">Dodaj fryzjera</a>
    <div class="row">
        <div class="col-md-4">
            <table class="table">
                @*<thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                </tr>
            </thead>*@
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.ActionLink("Harmonogram", "Index", "TimeTable", new { id = item.Id })
                                @Html.ActionLink("Usuń", "Delete", "Hairdresser", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    
</div>

