@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center" style="margin-top:50px">
    
        <h1>Witamy w naszym salonie</h1>
        <h6 style="margin-top:50px">
            Oferujemy pełny zakres usług fryzjerskich. Naszą specjalnością są usługi takie jak: strzyżenie, farbowanie czy koloryzacja oraz fryzury okolicznościowe.
            
            
        </h6>
        <h6 style="margin-top:50px">
            Nasi styliści są na bieżąco z najnowszymi trendami w dziedzinie stylizacji włosów oraz mają wieloletnie doświadczenie, a w całą swoją pracę zawsze wkładamy pasję i zaangażowanie.
        </h6>
        <h6 style="margin-top:50px">
            Zapraszamy. Umów się na wizytę, zadbaj o swoje włosy z nami i dołącz do grona zadowolonych klientów.
        </h6>    

   
</div>
