
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_LayoutEmploee.cshtml";
}

<h1>Test</h1>
<div>
    @for (int i = 0; i < 10; i++)
    {
    <div>
        <label>Godzina</label>
        <input />
        
    </div>
        
    }
</div>

