@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h4>Na pewno odwolać wizyte?</h4>
<form asp-action="CancelVisit">
    <div>
        <input class="btn btn-danger" type="submit" value="Odwołaj" />    
        <input class="btn btn-primary" type="submit" value="Anuluj" asp-action="CustomerIndex"/>
    </div>

</form>